<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jachmi.mapper.NoticeMapper">

	<select id="getList" resultType="com.jachmi.domain.NoticeVO">
		<![CDATA[
 			select * from tbl_notice where n_idx > 0 
 		]]> 
	</select>

	
	<select id="getListWitgPaging" resultType="com.jachmi.domain.NoticeVO">
		<![CDATA[
			select n_idx, n_title, n_regdate
			from
				(select /*+index_desc(tbl_notice pk_notice) */
				rownum rn, n_idx, n_title, n_regdate 
				from tbl_notice
				where rownum <= #{pageNum} * #{amount} )
			where rn > (#{pageNum} -1 ) * #{amount}
		]]>
	</select>

	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_notice
	</select>	
	
	<select id="getTotalSearchCount" resultType="int">
		select count(*) from tbl_notice where ${nColumn} LIKE '%'||#{nSearch}||'%'
	</select>	
	
	<insert id="ninsert">
		insert into tbl_notice values (seq_notice.nextval, #{n_title}, #{n_content}, sysdate, 'admin00')
	</insert>
	
		<select id="nRead" resultType="com.jachmi.domain.NoticeVO">
		select * from tbl_notice where n_idx = #{n_idx}
	</select>
	
	<update id="nUpdate">
		update tbl_notice set n_title = #{n_title}, n_content = #{n_content} where n_idx = #{n_idx}
	</update>
	
	<delete id="nDelete">
		delete from tbl_notice where n_idx = #{n_idx}
	</delete>

	<select id="getN_idx" resultType="int">
		SELECT n_idx
		FROM (SELECT n_idx FROM tbl_notice ORDER BY n_idx DESC)
		WHERE ROWNUM=1		
	</select>	
	
	<select id="nSearch" resultType="com.jachmi.domain.NoticeVO">
			select n_idx, n_title, n_regdate from tbl_notice where ${nColumn} LIKE '%'||#{nSearch}||'%'
	</select>
</mapper>